<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../../public/css/produto.css">
        <link rel="icon" href="../site/img/mini-logo2.png">
        <title>PRODUTO | Space-H</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1>INSERIR NOME DO PRODUTO</h1>
        <hr>
        <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/1/16/Concep%C3%A7%C3%A3o_art%C3%ADstica_do_Prometheus_em_%C3%B3rbita.jpg/300px-Concep%C3%A7%C3%A3o_art%C3%ADstica_do_Prometheus_em_%C3%B3rbita.jpg" style="width:100%">
              <div class="text">Texto 1</div>
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" style="width:100%">
              <div class="text">Texto 2</div>
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="https://www.w3schools.com/howto/img_snow_wide.jpg" style="width:100%">
              <div class="text">Texto 3</div>
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
        </div>
        <br>       
        <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <script>
            var slideIndex = 1;
            showSlides(slideIndex);
            
            function plusSlides(n) {
              showSlides(slideIndex += n);
            }
            
            function currentSlide(n) {
              showSlides(slideIndex = n);
            }
            /* script para o funcionamento do carrossel */
            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
              }
              for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";
              dots[slideIndex-1].className += " active";
            }
        </script>
        
        
        <div class="cla_e_prec"><!CLASSE - PREÇO>

            <div><!Conjunto CLASSE - INSERIR CLASSE>

                

                <h2>CLASSE:</h2>


                <p>INSERIR CLASSE DO PRODUTO</p>

            </div>
            
            <div><!ConjuntoPREÇO: - (INSERIR PREÇO)>

                

                <h2>PREÇO:</h2>
                
                <p>R$ (INSERIR PREÇO),00</p>

            </div>
            

        </div>
        <hr>
        <div class="desc_e_pa"><!CONJUNTO DESCRIÇÃO E PARÁGRAFOS DESCRITIVOS>

            <h2>DESCRIÇÃO</h2>

            <p>INSERIR PARÁGRAFO DE DESCRIÇÃO</p>

            <p>INSERIR PARÁGRAFO DE DESCRIÇÃO</p>

        </div>
    </body>