<!DOCTYPE html>
<html> 
     <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../public/css/login.css">
        <title>Login-spaceh</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
     </head>
     
     <body > 
        
            <div class="main_o">    
              <div class="main_i">
                 <img src="../../public/assets/1.png" class="l_logo">
                
                 <div class="info_box"> 
            <h1>E-mail</h1>
            <div class="blank_box">
                <p> </p>
            </div>
        
               </div> 
                <!-- email_box serve como o div contendo o h1 com "E-mail" escrito e com o espaço onde se insere o e-mail(div com classe "blank_box") -->
            
        
                    <div class="info_box"> 
            <h1>E-mail</h1>
            <div class="blank_box">
                <p> </p>

            </div>

                    </div>
                    <!-- estrutura análoga ao "e-mail_box" -->   
        
                    <div class="login_button">
            <div class="button_text">
                <p>Log-in</p><!-- aparência de onde vai ficar o botão para enviar as informações-->
            </div>
                    </div>

                </div>
            </div>

     </body><!--- o body serve como a "caixa" mais externa do login(que engloba tudo) --->
</html>