<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="CSS/styles.css">
        <title>Produto-teste</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1>VINHO PORTO-RIQUENHO</h1>
        <hr>
        <img src="IMG/ilustra.jpg" class="imagem_produto">
        
        
        <div class="cla_e_prec"><!CLASSE - PREÇO>

            <div><!Conjunto CLASSE - INSERIR CLASSE>

                

                <h2>CLASSE:</h2>


                <p>VINHOS IMPORTADOS</p>

            </div>
            
            <div><!ConjuntoPREÇO: - (INSERIR PREÇO)>

                

                <h2>PREÇO:</h2>
                
                <p>R$ 329,00</p>

            </div>
            

        </div>
        <hr>
        <div class="desc_e_pa"><!CONJUNTO DESCRIÇÃO E PARÁGRAFOS DESCRITIVOS>

            <h2>DECRIÇÃO:</h2>

            <p>Vindo em uma garrafa de vidro temperado, esse vinhode alta qualidade 
             passou por um longo processo de amadurecimento em um barril cuja madeira
             é importada do própiro condado de Mônaco.</p>

            <p>Possuindo aroma fresco e sabor suave e adocicado, essa iguaria caribenha
                demonstra sua qualidade passando uma mensagem forte e direta - não é um
                vinho para qualquer um.
            </p>

        </div>
    </body>