@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

/*
    Reset
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Squada One", cursive;
}

li,
a,
button {
  color: #000000;
  text-decoration: none;
}

#container {
  max-width: 71.25rem;
  margin: auto;
  padding: 0px 20px;
}

.button-animation {
  transition: all 250ms ease-in-out;
}

.button-animation:hover {
  opacity: .85;
  box-shadow: 0px 0px 3px #000000;
}

/*
    Header
*/

.products__header {
  padding: 1rem;
  margin-top: 5rem;
}

.header__title {
  font-size: 1.8rem;
}

.header__options {
  display: flex;
  justify-content: space-between;
}

.header__search {
  width: 60%;
  align-items: left;
}

#products__search {
  width: calc(100% - 85px);
  padding: 0.625rem;
  border: 1px solid #000000;
  border-radius: 10px;
  outline: none;
}

#products__search::placeholder {
  font-size: 1rem;
}

.products__header button {
  padding: 0.7rem;
  color: #ffffff;
  background-color: #4f0ad8;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*
    Products List
*/

.products__table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 1.3rem;
}

.products__table a {
  text-decoration: none;
}
.products__table a:hover {
  text-decoration: none;
}

.products__table td {
  padding: 5px;
  border: 1px solid #8a8d8f;
}

.table__header {
  color: #ffffff;
  background-color: #4f0ad8;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px #000000;
}

.table__header th {
  padding: 10px;
}

.product__image img {
  width: 100%;
  margin: 5px 0px;
}

.product__btn {
  width: 60%;
  display: block;
  padding: 0.625rem;
  margin: 10px auto;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.purple-btn {
  background-color: #4f0ad8;
}

.black-btn {
  background-color: #101820;
}

.red-btn{
  background-color: #ff0000;
}

/*
    Modal
*/

.modal input,
.modal select{
  width: 60%;
  padding: 0.8rem;
  margin: 10px auto;
  display: block;
  font-size: 1.2rem;
}

.modal input[type="file"] {
  padding: 0;
}

#selecione-categoria { 
  color: #808080; 
}

.modal-btn {
  display: block;
  padding: 0.625rem;
  margin: 5px auto;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*
    Responsive Layout
*/

/* Small */

@media screen and (max-width: 780px) {
  .container {
    width: 100%;
    margin: auto;
  }
  .navbar {
    width: 100%;
  }

  .products__header {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #products__search {
    width: 100%;
    margin: 10px 0px;
  }

  .products__header button {
    width: 100%;
  }

  .table__header {
    display: none;
  }

  table,
  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
  }

  table tr {
    margin-bottom: 15px;
  }

  table td {
    text-align: center;
    padding-right: 15px;
    padding-left: 50%;
    position: relative;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .product__image img {
    width: 100%;
  }

  /*
        Modal
    */

  .modal input {
    width: 90%;
  }
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
  #container {
    width: 100%;
    margin: auto;
  }
  .navbar {
    width: 100%;
  }

  .product__btn {
    width: 90%;
  }
}
