thead {
    background-color: #4F0AD8 !important;
    font-family: 'Squada One', cursive;
    font-size: 24px;
    text-transform: uppercase;
    color: white
}

tbody th {
    font-family: 'Squada One', cursive;
    font-size: 22px;
}

.editar {
    background-color: #8a8d8f !important;
    color: white !important;
    text-decoration: none !important;
    border-radius: 3.5px;
    font-family: 'Squada One', cursive;
    font-size: 18px;
}

.excluir {
    background-color:#4f0ad8;
    color: white;
    border-radius: 3.5px;
    font-family: 'Squada One', cursive;
    font-size: 18px;
}

.editar a {
    text-decoration: none;
    color: white;
}

.excluir a {
    text-decoration: none;
    color: white;
}

table {
    width: 1250px !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    box-shadow: 7px 7px 2px #8a8d8f;
    table-layout: fixed;
}

.categoria {
    text-transform: uppercase;
}

h1 {
    font-family: 'Squada One', cursive;
    font-size: 45px;
    text-decoration: underline;
    color: #101820;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.add a {
    text-decoration: none;
    background-color: #4f0ad8;
    color: white;
}

.btn {
    background-color: #4f0ad8 !important;
    font-family: 'Squada One', cursive;
    color: white;
    font-size: 20px;
    position: relative;
    margin-left: 45%;
    margin-top: 30px;
}

.fechar {
    background-color:#8a8d8f;
    color: white;
    border-radius: 3.5px;
    font-family: 'Squada One', cursive;
    font-size: 18px;
}

.salvar {
    background-color:#4f0ad8;
    color: white;
    border-radius: 3.5px;
    font-family: 'Squada One', cursive;
    font-size: 18px;
}