*{
    font-family: 'Squada One', cursive;
    margin:0;
    padding:0;
}

.titulo-pagina{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
    margin-bottom: 1%;
    color: #101820;

}


thead{

    font-size: 25px;

}
.foto-tabela {
    width: 100%;
    
}
.linha-foto {
    width: 20%;
}

.linha {
    width: 20%;
    
}


.larguraEditar{
    width: 15%;
   
}
.titulo-tabela{
    
    color:white;
    
}

td{

    font-size: 20px ;
    text-align: center;
    
}
.btn {
    align-items: center;
}
tr:hover{

    cursor: pointer;

}

.botao-adicionar{
    display: flex;
    justify-content: flex-end;

        animation-name: aparicao-lateral;
        animation-duration: 1.5s;
}



.larguraCategoria{
    width: 85%;
}

.larguraAcao{
    width: 15%;
}

@media(max-width:1200px){

    .titulo-pagina{
        font: 100px;
        margin-top: 100px;
    }
}

@media(max-width:768px){

    .colunasInvisiveis{
        display: none;
    }

    .botao-adicionar{
        justify-content: center;
    }

    
}

.finalizar{
    
    font-size: 1.3rem;
    color: white;
    background-color: #4f0ad8;
    border-radius: 6%;
    border: 1px solid #101820;

}