.nav-link{
    color: white;
}

.nav-link:hover{
    color: aquamarine;
}

.personalizada-navbar{
    background-color: #101820;
    color: white;
    border-width: 1px;
    border-style: groove;
    border-color: #101820;
    font-family: 'Squada One', cursive;
}
 
.btn-outline-success{
    background-color: transparent;
    border-color: #4f0ad8;
    color: #4f0ad8;
}
.btn-outline-success:hover {
    background-color: #4f0ad8;
    border-color: #4f0ad8;
    color: #fff;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link{
    text-decoration: none;
}

.drop-custom{
    color: white;
}

.dropdown-item{
    background-color: white;
    color: #4f0ad8;
}
.dropdown-item:hover{
    transform: scale(1.1);


}
.dropdown-menu{
    background-color: #4f0ad8;
}

.collapse a{
    font-size: 17px;
}
.collapse ul{
    width: 100%;
}

a:hover{
    color: aquamarine;
    transition: 0.5s;
}


