@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

/*
    Reset
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Squada One', cursive;   
}

li, a, button {
    color: #000000;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/*
    Navbar
*/

.navbar {
    width: 100%;
    height: 9.375rem;
    border-bottom: 1px solid #000000;
}

/*
    Ordering Area: Contains search and ordering
*/

.ordering-area {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8a8d8f44;
    font-size: 1.25rem;
}

#ordering__select {
    padding: 5px;
    font-size: 1.25rem;
}

#ordering__search-bar {
    padding: 5px;
    font-size: 1.25rem;
}

/*
    Showcase Area: contains product cards
*/

.showcase-area {
    padding: 50px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    flex-wrap: wrap;
}

.product {
    display: none;
    width: 300px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 25%);
    overflow: hidden;
    transition: all .3s linear;
}

.product:hover {
    box-shadow: 0px 0px 6px #4f0ad8;
    transform: scale(1.02);
}

.product__image {
    width: 100%;
    height: 230px;
}

.product__info {
    padding: 0px 20px;
    color: #101820;
}

.product__name {
    padding: 15px 0px;
    font-size: 1.875rem;
}

.product__price {
    display: block;
    font-size: 1.25rem;
}

.product__category {
    padding: 10px;
    margin: 10px 0px;
    display: inline-block;
    background-color: #8a8d8f;
    border-radius: 20px;
}

.product__cta {
    width: 100%;
    padding: 15px 0px;
    display: block;
    color: #ffffff;
    background-color: #4f0ad8;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}

.product__cta:hover {
    background-color: #4f0ad8da;
}
