<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Quem Somos</title>
    <link rel="stylesheet" href="./quem-somos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <h1 id="name"><img class="logo" src="./img/mini-logo2.png" width="70px" height="70px">QUEM SOMOS?</h1>

    <div class="container">
        <img class="img" src="./img/imagem3.jpg" alt="Notebook" class="container-img-top" width=" 1035px" >
        <div class="content">
          <h1>Space-H</h1>
          <p>"Primeiro, lembre de olhar para as estrelas e não para seus pés. Segundo, nunca desista do trabalho. O trabalho dá a você significado e propósito para a vida. Terceiro, se você tiver a sorte de encontrar o amor, lembre-se que está lá e não o jogue fora." - Stephen Hawking</p>
        </div>
    </div>

    <div class="row mb-5">

        <div class="card" style="width: 18rem;">
            <img src="./img/imagem4.jpg" class="card-img-top" width="200px" height="190px">
            <div class="card-body">
                <h5 class="card-title">Visão</h5>
                <p class="card-text">Ser a empresa com os melhores serviços e produtos, com reconhecimento da NASA.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./img/imagem5.jpg" class="card-img-top" width="200px" height="190px">
            <div class="card-body">
                <h5 class="card-title">Missão</h5>
                <p class="card-text">Nossa empresa existe para diminuir a distância entre a humanidade e o cosmos.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="./img/imagem6.jpg" class="card-img-top" width="200px" height="200px">
            <div class="card-body">
                <h5 class="card-title">Valores</h5>
                <p class="card-text">Inovação tecnológica, qualidade, responsabilidade e diversidade.</p>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>