<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../../public/css/cssvc.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Contato</title>
</head>
<body>

    <div class="titulo">
        <h1 style="letter-spacing: 2px;font-size:60px">Contato</h1>
    </div>

    <div class="center"style="border-radius: 1%; padding: 0.5% ;">

        <div class="localizacao">
          <iframe src="https://www.google.com/maps/d/embed?mid=1oXeDfLYyMtNam-DDeNJAszOAZO0" style="padding-left:1%;padding-right: 0.7%;" height="600" ></iframe>
        </div>

        <div class="formulario" style="border-radius: 1%; padding: 1%;">

            <h1 style="text-align: left;text-decoration: underline;">NOS MANDE UMA MENSAGEM</h1>

          </div>
            <div class="form-floating mb-3">
              <h1 style="float: right;">Flórida 32899, EUA</h1>
              <img src="./../../public/assets/local.png" style="float: right;height: 5vh;"></img>
              <input type="email" class="form-control" id="floatingInput" placeholder="nome" style="width: 70%;font-size: 19px;">
              <label for="floatingInput" style="font-size: 19px;">Nome</label>
            </div>
            <div class="form-floating mb-3">
              <h1 style="float: right;margin-right: 7%;">408 XXX XXXX</h1>
              <img src="./../../public/assets/telefone.png" style="float: right;height: 5vh;"></img>
              <input type="email" class="form-control" id="floatingInput" placeholder="email" style="font-size: 19px;width: 70%;">
              <label for="floatingInput" style="font-size: 19px;">Endereço de E-mail</label>
            </div>
            <div class="form-floating mb-3">
              <h1 style="float: right;">spaceh@mail.com</h1>
              <img src="./../../public/assets/email.png" style="float: right;height: 5vh;"></img>
              <input type="email" class="form-control" id="floatingInput" placeholder="assunto"style="font-size: 19px;width: 70%;">
              <label for="floatingInput"style="font-size: 19px;">Assunto</label>
            </div>
            <div class="form-floating">
              <img src="./../../public/assets/CFjEQA1UgAQ-ZUs.jpg" style="float: right;height: 32vh;width: 23%;border-radius: 2%;"></img>
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px;font-size: 19px;width: 70%;"></textarea>
              <label for="floatingTextarea2"style="font-size: 19px;">Mensagem</label>
            </div>

        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-primary" style="padding: 1%;padding-right:5%;margin-left:11.2%;background-color: #4f0ad8;width: 54.9%;margin-bottom: 2%;" type="button">Enviar sua mensagem</button>
        </div>
 
    </div>
    
</body>
</html>