<!DOCTYPE html>

<html>

<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link href="cssvh.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">

</head>

<body>

<!--Carousel-->

<div class="slideshow-container">

<div class="mySlides fade">
  <a href="https://www.americanas.com.br"><img src="imgh/slides_1.png" style="width:100%" ></a>
</div>

<div class="mySlides fade">
  <a href="https://www.americanas.com.br"><img src="imgh/slides_2.png" style="width:100%" ></a>
</div>

<div class="mySlides fade">
  <img src="imgh/slides_3.png" style="width:100%">
</div>

<div class="mySlides fade">
  <img src="imgh/slides_4.png" style="width:100%">
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>

<br>

<div style="text-align:center" style="background-color: black;" >

  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>

</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}
/* script para o funcionamento do carrossel */
function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

<!--Destaques-->

<div class="center">
  <div class="destaques">
    <h1>DESTAQUES</h1>
    <hr>
  </div>

  <div class="product">
    <a href="#">
      <img src="" alt="" class="product__image">
                  <div class="product__info">
                  <h2 class="product__name">Nome do Produto</h2>
                  <span class="product__price">R$99999</span>
                  <span class="product__category">Categoria 1</span>
                  </div>
                  <button class="product__cta">Ver Produto</button>
    </a>
  </div>

  <div class="product">
    <a href="#">
      <img src="" alt="" class="product__image">
                  <div class="product__info">
                  <h2 class="product__name">Nome do Produto</h2>
                  <span class="product__price">R$99999</span>
                  <span class="product__category">Categoria 1</span>
                  </div>
                  <button class="product__cta">Ver Produto</button>
    </a>
  </div>

  <div class="product">
    <a href="#">
      <img src="" alt="" class="product__image">
                  <div class="product__info">
                  <h2 class="product__name">Nome do Produto</h2>
                  <span class="product__price">R$99999</span>
                  <span class="product__category">Categoria 1</span>
                  </div>
                  <button class="product__cta">Ver Produto</button>
    </a>
  </div>

  <div class="product">
    <a href="#">
      <img src="" alt="" class="product__image">
                  <div class="product__info">
                  <h2 class="product__name">Nome do Produto</h2>
                  <span class="product__price">R$99999</span>
                  <span class="product__category">Categoria 1</span>
                  </div>
                  <button class="product__cta">Ver Produto</button>
    </a>
  </div>  
</div>
  
<!--Links para outras páginas-->
  

<a href="#">Inicio</a>

</body>
</html>
