<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos | Space-H</title>
    <link rel="stylesheet" href="/spaceh/public/css/view-produtos.css">
</head>
<body>

    <!-- Navbar -->
    <div class="navbar"></div>

    <div class="container">
        <!-- Ordering Area: Contains search and ordering -->

        <div class="ordering-area">
            <div class="ordering__options">
                <span>Ordenar:</span>
                <select name="ordering-products" id="ordering__select">
                    <option value="relevance">Relevância</option>
                    <option value="category">Categoria</option>
                    <option value="rising-price">Preço Crescente</option>
                    <option value="decreasing-price">Preço Decrescente</option>
                </select>
            </div>
            <input type="search" name="search-bar" id="ordering__search-bar" placeholder="Pesquisar">
        </div>

    </div>
    
</body>
</html>