<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM - Produtos | Space-H</title>
    <link rel="stylesheet" href="../../public/css/adm-produtos.css">
</head>
<body>

    <!-- Navbar: will be changed later for the real navbar -->
    <div class="navbar"></div>

    <div class="container">

        <!-- Products Header: Contains search bar and add button -->
        <div class="products__header">
            <h2 class="header__title">Lista de Produtos</h2>
            <input type="search" name="products__search" id="products__search" placeholder="Pesquise um produto" disabled>
            <button>Adicionar Produto</button>
        </div>

    </div>

</body>
</html>